.container_homepage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body {
    background-image: url(./wallpapersden.com_taylor-swift-2018-photoshoot_3840x2400.jpg);
    background-size: contain;
    background-attachment: fixed;
}
/* h3作为博客题目 */
h3 {
    font-size: large;
}
/* h2作为类标题，如blog */
h2 {
    font-size: xx-large;
    font-style: italic;
}

.abo_blog_content{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.abo_notice_content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.abo_spacer {
    flex: 1;
}